//
// Basic Lists
// --------------------------------------------------

// Unordered and Ordered lists
ul,
ol {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: @space;
  ul,
  ol {
    margin-bottom: 0;
  }
}

.list-large {
  .type-scale(1);
  font-weight: @font-weight-xl;
}

.list-small {
  .type-scale(-1);
}

// Unstyled keeps list items block level, just removes default browser padding and list-style
.list(@bulletColor:@gray-dark-2;) {
  li {
    padding-left: @space;
    position: relative;
  }

  & li:before {
    content: '\2022'; // bullet
    color: @bulletColor;
    position: absolute;
    left: 0;
  }
}

.list {
  .list();
}

// Inline turns list items into inline-block
.list-inline {
  margin-left: -5px;

  ul {
    .clearfix();
  }

  > li {
    display: inline-block;
    padding-left: (@space-quarter /2);
    padding-right: (@space-quarter /2);
  }
}
